@use "./abstracts";

.wrapCustomer {
    @include abstracts.breakpoint(lg) {
        h2 {
            font-size: 2.3rem !important;
        }
    }
    background-color: #1d428a;
    .title {
        padding: 4rem 0 10rem;
        h5 {
            color: #fff;
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 700;
        }
        h2 {
            color: #fff;
            text-transform: capitalize;
            font-size: 2.7rem;
            font-weight: 700;
        }
    }
}
