@use "./abstracts";

.wrap_Exp {
    @include abstracts.breakpoint(lg) {
        left: 0;
        span {
            font-size: 3rem !important;
        }
        .Exp_content {
            width: 100% !important;
            h3 {
                font-size: 1.2rem !important;
                padding: 0 0.5rem;
            }
        }
    }
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    span {
        font-size: 3.5rem;
        color: #fff;
        padding: 0.5rem;
        background-color: rgb(252, 76, 2);
    }
    .Exp_content {
        width: 20rem;
        background-color: #fff;
        padding-left: 1rem;
        padding-top: 0.2rem;

        h3 {
            text-align: left;
            font-size: 1.3rem;
            font-weight: 700;
        }
        p {
            text-align: left;
        }
    }
}
@include abstracts.breakpoint(lg) {
    #Au2 {
        width: 90% !important;
        left: 1rem !important;
    }
}
