@use "./abstracts";

.wrapSearch {
    margin: 3rem 0;
    .nav {
        margin-bottom: 3rem;
    }
    .bodyNav {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        .containerNav {
            @include abstracts.breakpoint(lg) {
                width: 100%;
            }
            border-radius: 9999px;
            padding: 1rem 0rem;
            background-color: #f8f8f8;
            width: 45%;
            justify-content: center;
            a {
                color: #000;
                font-weight: 700;
            }
            .activeNavItem {
                border-radius: 9999px;
                background-color: rgb(252, 76, 2);
                box-shadow: 0px 10px 12px 1px rgba(207, 198, 198, 0.75);
                -webkit-box-shadow: 0px 10px 12px 1px rgba(207, 198, 198, 0.75);
                -moz-box-shadow: 0px 10px 12px 1px rgba(207, 198, 198, 0.75);
            }
        }
    }
}
.wrapMedia {
    @include abstracts.breakpoint(lg) {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .itemMedia {
            margin-left: 0 !important;
            & ~ .itemMedia {
                margin-top: 1rem;
            }
        }
    }
    & ~ .wrapMedia {
        margin-top: 1rem;
    }
    .itemMedia {
        &:hover .img_mask {
            transition: 0.4s ease-in-out;
            opacity: 0.7;
            top: 0rem;
        }
        & ~ .itemMedia {
            margin-left: 1rem;
        }
        position: relative;
        padding: 0;
        .img_mask {
            transition: 0.6s ease-in-out;
            position: absolute;
            top: 6rem;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f8f8f8;
            opacity: 0;
        }
        h3 {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            font-weight: 700;
            font-size: 1.2rem;
        }
        figure {
            width: 100%;
            margin: 0;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
