@use "./abstracts";
.wrapHeader {
    background-color: transparent !important;
    border-bottom: 1px solid #cbc8c8;
    margin-right: 0;
    // margin-bottom: 2rem;
    @include abstracts.breakpoint(lg) {
        display: none;
    }
}

#socialMedia {
    .Item_socialMedia ~ .Item_socialMedia {
        margin-left: 0.7rem;
    }

    a {
        padding: 0.2rem !important;
        font-size: 1.19rem;
        color: #fff;
        &:hover {
            color: rgb(252, 76, 2) !important;
        }
    }
}

#ContactPhone {
    display: flex;
    align-items: flex-end;
    .IconPhone {
        font-size: large;
        color: rgb(252, 76, 2);
    }
    a {
        color: #fff;
        text-decoration: none;
        font-size: large;
        font-weight: 700;
        margin-left: 0.7rem;
        &:hover {
            color: rgb(252, 76, 2) !important;
        }
    }
}

#button_submit {
    margin-left: 2rem;
    button {
        border: none;
        padding-left: 1.3rem;
        height: 2rem;
        transition: 0.4s ease-in-out;
        &:hover {
            background-color: #1d428a !important;
            a {
                color: rgb(252, 76, 2);
            }
        }
    }
    a {
        text-decoration: none;
        color: #fff;
        font-size: 0.85rem;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: block;
    }
}
