@use "./abstracts";

.wrapNewlogictic {
    @include abstracts.breakpoint(lg) {
        .Row_wrapNewLo {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .About_Content {
            h2 {
                font-size: 2rem !important;
            }
        }
        .About_Img {
            margin-top: 1rem;
            width: 90%;
            img {
                width: 100%;
            }
        }
    }
    margin-top: 4rem;
    margin-bottom: 4rem;
    .About_Content {
        text-align: left;
        h5 {
            color: rgb(252, 76, 2);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1rem;
        }
        h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }
    }
}
.sub_Content {
    margin-top: 2.5rem;
    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        & ~ div {
            margin-top: 1rem;
        }
    }
    img {
        width: 4.3rem;
    }
    h4 {
        font-weight: 700;
        font-size: 1.3rem;
    }
    p {
        max-width: 83%;
    }
}
.logictic_content {
    margin-left: 1rem;
}
.About_Img {
    text-align: right;
    position: relative;
    img {
        width: 90%;
    }
}
