@use "./abstracts";

.wrapNote {
    @include abstracts.breakpoint(lg) {
        margin-top: 1rem;
        padding: 0.5rem 0;
        position: static;
        width: 100%;
        img {
            width: 5rem !important;
        }
    }
    position: absolute;
    top: 45%;
    left: -2%;
    background-color: #fff;
    width: 54%;
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    & > div {
        text-align: left;
        padding: 1rem 0 1rem 1rem;
        border: 0.1rem dashed rgb(252, 76, 2);
        margin: 1rem;
    }
    img {
        width: 25%;
    }
    h4 {
        font-weight: 700;
    }
    p {
        width: 90%;
    }
}
